
.enrolled_course_bar{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
}

.Course_Catalog_btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}