.featured_card {
    padding: 20px;
    width: 308px;
    height: 236px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25), 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

  }
  
  .featured_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 10px;
  }
  
  .icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 10px;
    width: 38px;
    height: 38px;
    /* Blue 3 */
    background: #56CCF2;
    color: #edf6f9;
    border-radius: 1000px;
  }
  
  .featured_title {
    width: 166px;
    height: 17px;

    font-family: 'Gilroy-Light';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    display: flex;
    align-items: center;
    /* Gray 2 */
    color: #4F4F4F;
  }
  
  .featured_description {
    width: 271px;
    height: 38px;
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #4F4F4F;
  }
  
  .featured_footer {
    display: flex;
    align-items: end;
  }
  
  .featured_footer div {
    display: flex;
    flex-direction: row;
   /* Shams Tabrez */
    height: 14px;
    font-family: 'Gilroy-Light';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    align-items: end;
    color: #4F4F4F;
    flex: none;
    order: 1;
    flex-grow: 0;
    gap: 5px;
  }

  .instructor_img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
  }

  .instructor_img{
    position: absolute;
    width: 90px;
    height: 136px;
    right: 0;
    bottom: 0;
  }
  