
.course_card{
    box-sizing: border-box;
    width: 272px;
    height: 314px;
    background: rgba(151, 71, 255, 0.25);
    border: 1px solid #EBEBEB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 27px 19px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.course_card_f {
    display: flex;             /* Use flexbox for layout */
    justify-content: space-between; /* Place one icon at the start and one at the end */
    align-items: center;       /* Center icons vertically within the div */
    width: 100%;               /* Ensure the container takes full width */
}

.course_name{
    font-family: 'Gilroy-SemiBold';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    display: flex;
    align-items: center;
    /* Gray 2 */
    color: #4F4F4F;
}

.course_user{
    display: flex;             /* Use flexbox for layout */
    flex-direction: row;
    align-items: center;
    gap: 5px;
    justify-content: start; /* Place one icon at the start and one at the end */
    width: 100%;  
}
.course_user p{
    font-family: 'Gilroy-Light';
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    display: flex;
    align-items: center;
    /* Gray 2 */
    color: #4F4F4F;
}

.course_circle{
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;
    height: auto;
    width: 100%;
}